<!DOCTYPE html>
<html lang="pt-br">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Critérios</title>

  <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css"
    integrity="sha512-xodZBNTC5n17Xt2atTPuE1HxjVMSvLVW9ocqUKLsCC5CXdbqCmblAshOMAS6/keqq/sMZMZ19scR4PsZChSR7A=="
    crossorigin="" />

  <!-- Make sure you put this AFTER Leaflet's CSS -->
  <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"
    integrity="sha512-XQoYMqMTK8LvdxXYG3nZ448hOEQiglfqkJs1NOQV44cWnUrBc8PkAOcXy20w0vlaXaVUearIOBhiXZ5V3ynxwA=="
    crossorigin=""></script>

  <link rel="icon" href="/images/favicon.png" />

  <link rel="stylesheet" href="/css/main.css" />
  <link rel="stylesheet" href="/css/animations.css" />
  <link rel="stylesheet" href="/css/sidebar.css" />
  <link rel="stylesheet" href="/css/map.css" />
  <link rel="stylesheet" href="/css/buttons.css" />
  <link rel="stylesheet" href="/css/page-community.css" />

  <link href="https://fonts.googleapis.com/css2?family=Nunito:wght@400;600;700;800&display=swap" rel="stylesheet" />
</head>

<body>
  <div id="page-community">
    <aside class="animate-right sidebar">

      <img src="/images/logo-icon.png" alt="logo" height="80" width="120">

      <footer>
        <button onclick="history.back()">
          <img src="/images/arrow-back.svg" alt="Voltar">
        </button>
      </footer>

    </aside>

    <main class="animate-appear with-sidebar">
      <div class="community-details">
        <img src="" alt="" />

        

        <div class="community-details-content">
          <h1>Sobre</h1>

          <p>O Mapa da Comunicação Comunitária é uma plataforma de georeferenciamento que reúne veículos de comunicação comunitária do Brasil. Entendemos como veículos de comunicação comunitária aqueles que se caracterizam por processos baseados em princípios públicos, que propiciem a participação ativa da população, que sejam de propriedade coletiva e que não tenham fins lucrativos.

Nesse mapa, escolhemos abranger aqueles veículos já articulados, produzidos, difundidos ou protagonizados por sujeitos, coletivos e organizações de favelas e outros territórios populares. Excluímos os blogs pessoais, veículos que não produzem conteúdo próprio ou só replicam conteúdo de outros e os que estão inativos.

A plataforma é colaborativa e qualquer iniciativa que se encaixe nos critérios estabelecidos pode se inscrever e participar do mapa. Utilizamos como ponto de partida a base de dados produzida pelo projeto Direito à Comunicação e Justiça Racial, realizado em 2014 pelo Observatório de Favelas com o apoio da Fundação Ford. A partir dela entramos em contato com os veículos, a atualizamos e conseguimos iniciar a plataforma com alguns dos principais veículos de comunicação comunitária do Rio de Janeiro.

O projeto é um dos produtos do Data_labe, um laboratório de dados na favela. Acreditamos que o empoderamento da juventude de periferia do Brasil passa, necessariamente, pelo acesso, produção e difusão de informações e hoje a comunicação comunitária é um dos principais responsáveis por garantir esses direitos. Aqui, pretendemos reunir esses veículos, tornar pública a nossa base de dados sobre essas iniciativas e construir um panorama acerca da comunicação comunitária brasileira, contribuindo para a reflexão e elaboração de iniciativas para o setor.

A plataforma foi desenvolvida pela agência de jornalismo de dados Volt Data Lab.

ACESSE, COLABORE, COMPARTILHE!

SIGA O DATA_LABE:   </p>

          
      </div>
    </main>
  </div>
  <script src="/scripts/page-community.js"></script>
</body>

</html>