<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Mapa da Comunicação Comunitária</title>

    <link rel="icon" href="/images/favicon.png" />
   

    <link rel="stylesheet" href="/css/main.css" />
    <link rel="stylesheet" href="/css/animations.css" />
    <link rel="stylesheet" href="/css/page-landing.css" />
    

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Libre+Franklin:wght@100;500;600;700&display=swap" rel="stylesheet"/>
  </head>
  <body>
    <div id="page-landing">
      <div id="container">
        <header>
          <img  height="120" width="180"
            class="animate-up"
            id="logo" 
            src="/images/logo.png" 
            alt="Logomarca data_labe" />

         
        </header>

        <main>
          <h1 class="animate-up">Mapa da Comunicação Comunitária</h1>

          <section class="visit">
            <p class="animate-up">É uma plataforma de georeferenciamento que reúne veículos de comunicação comunitária do Brasil.</p>

            <a href="/communitys" title="Veja o mapa" class="animate-up">
              <img src="/images/arrow.svg" alt="Ir para o mapa" />
            </a>
          </section>
        </main>
      </div>
    </div>
  </body>
</html>
